@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:cornflowerblue;
}

.container {
  height: 100vh;
}

#quote-box {
  min-height: fit-content;
  width: 100%;
}

#text {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

#author {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

