@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:cornflowerblue;
}

.container {
  display: flex;
  height: 100vh;
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text {
  font-family: 'Lobster', cursive;
font-size: 2rem;
}

#author {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}

.show-quote {
  min-height: 300px;
  width: 100%;
}